*.ico
*.jpg
*.png
*.svg
*.zip
*.sql
*.yml
*.csv
*.config
.env
.env.*
.serverless
.vscode
.browserslistrc
.dockerignore
.editorconfig
.eslintignore
.gitattributes
.gitconfig
.gitignore
.gitlab-ci.yml
.idea
.prettierignore
Dockerfile
node_modules
package-lock.json
.DS_Store
